<div class="ui center aligned segment">
    <div class="ui four statistics">
        <div class="statistic">
            <div class="value">
                <i class="user icon"></i>
            </div>
            <div class="label">
                {{member.name}}
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                <i class="{{idealWeightIndicator}} dashboard icon"></i>
            </div>
            <div class="label">
                Ideal Weight Indicator
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                <i class="heartbeat icon"></i>{{bmi}}
            </div>
            <div class="label">
                BMI
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                <i class="doctor icon"></i>
            </div>
            <div class="label">
                {{bmiCategory}}
            </div>
        </div>
    </div>
</div> 