{{> menu id="dashboard"}}

<section class="ui grid basic middle aligned segment">
    <div class="ui two column row">
        <div class="ui column stacked segment">
            <h1 class="ui header">
                Register
            </h1>
            <form class="ui form" action="/register" method="POST">
                <div class="ui two fields">
                    <div class="field">
                        <label>Name</label>
                        <input placeholder="Name" type="text" name="name" required>
                    </div>
                    <div class="field">
                        <label>Gender</label>
                        <select class="ui dropdown" name="gender" required>
                            <option value="" hidden>Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label>Email</label>
                    <input placeholder="Email" type="email" name="email"required>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input placeholder="Password" type="password" name="password" required>
                </div>
                <div class="field">
                    <label>Address</label>
                    <input placeholder="Address" type="text" name="address" required>
                </div>
                <div class="ui two fields">
                    <div class="field">
                        <label>Height</label>
                        <input placeholder="Height" type="number" step=".01" name="height" required>
                    </div>
                    <div class="field">
                        <label>Starting Weight</label>
                        <input placeholder="Starting Weight" type="number" step=".01" name="weight" required>
                    </div>
                </div>
                <button class="ui blue submit button">Submit</button>
            </form>
        </div>
        <div class="column">
            <img src="http://res.cloudinary.com/dsyiy8hbm/image/upload/v1502979838/bmi_x1hfut.jpg">
        </div>
    </div>
</section>